mat-form-field{
    width: 100%;
}

input {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border:none;
    border-bottom: 2px solid ;
    box-sizing: border-box;
  }
  mat-dialog-title{
    font-weight: bold;
    padding: 50px;
  }