<nav class="navbar navbar-expand-lg navbar-light bg-grad">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">RealState</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""  routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="analyze"  routerLinkActive="active-link">Analyze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="manage-employee"  routerLinkActive="active-link">Manage Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="manage-constraints"  routerLinkActive="active-link">Manage Constraints</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="manage-properties"  routerLinkActive="active-link">Manage Homes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login"  routerLinkActive="active-link">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
